@model IEnumerable<ExpenseTracker.Models.ExpenditureType>

    <div class="container p-3">
       @* <div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Expense Type List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="ExpenditureType" asp-action="Create" class="btn btn-primary">Create new Expense Type </a> 
            </div>
        </div>
        <br/>

        @if(Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                         Name
                    </th>
                    <th>
                         Changes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ExpenditureType in Model)
               {
                   <tr>
                       <td width="35%">@ExpenditureType.Name</td>
                       <td width="30%">
                           <div class="w-100 btn-group" role="group">
                                     <a asp-controller="ExpenditureType" asp-action="Update" asp-route-Id="@ExpenditureType.Id" class="btn btn-primary mx-1">Update</a>
                                     <a asp-controller="ExpenditureType" asp-action="Delete" asp-route-Id="@ExpenditureType.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    }
    else
    {
        <p>No Expense Types created yet</p>
    }
    </div>